{% include header.html %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="page-title"><i class="fa fa-envelope"></i>&nbsp;{{ page.title }}</h3>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <form class="form" action="">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6 form-group is-empty">
                            <input type="text" class="form-control" id="focusedInput1" placeholder="Nome *">
                        </div>
                        <div class="col-md-6 form-group is-empty">
                            <input type="text" class="form-control" id="focusedInput1" placeholder="Cognome *">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group is-empty">
                            <input type="tel" class="form-control" id="focusedInput1" placeholder="Numero">
                        </div>
                        <div class="col-md-6 form-group is-empty">
                            <input type="email" class="form-control" id="focusedInput1" placeholder="Email *">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group is-empty">
                            <input type="text" class="form-control" id="focusedInput1" placeholder="Oggetto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group is-empty">
                            <textarea class="pure-input-1 form-control" rows="5" id="focusedInput1" name="information" placeholder="Il tuo messaggio"></textarea>
                        </div>
                    </div>
                    <div class="row form-button">
                        <div class="col-md-12 form-group is-empty">
                            <button type="submit" class="btn btn-success btn-raised">Invia</button>
                            <button type="reset" class="btn btn-danger btn-raised">Cancella</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


{% include footer.html %}
