{% include header.html %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="page-title"><i class="fa fa-folder"></i>&nbsp;{{ page.title }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        {% for post in site.categories.website %}
        <div class="col-sm-4 text-center">
          <div class="panel panel-projects">
            <a href="{{ post.url }}">
              <h4>{{ post.title }}</h4>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% include footer.html %}
